<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Spot Light</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="/">My ToDo</a></li>
            <li class="active"><a href="/dev">Developer ToDo</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container" style="margin-top:70px;">
        <h1>My Todo</h1>
        <hr>
        <div class="container ng-scope">
            <div class="row col-md-12">
                <div class="col-md-10">
                    <input type="text" id="text" placeholder="Enter a Todo" class="form-control input-lg">
                </div>
                <div class="col-md-2">
                    <input class="btn" id="add" type="button" value="Add New ToDo">
                </div>
            </div>
            <div class="row col-md-12 todos">
                <div id="showAll"></div>                   
            </div>
        </div>
    </div>


    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="DataManager.js"></script>

    <script>
    var options = {
        connection: 'http://localhost:2000',
        connectCB: connectCB,
        collections: [{
            'name': 'todos',
            'subscribers': {
                'allTodos': renderAllTodos
            },
        }]
    };

    var dm = new DataManager(options);

    function connectCB() {
        console.log('connected');
    }

    function renderAllTodos(data) {
        var html = '';
        if (!data) return;
        data.forEach(function(k) {
            html += '<div class="todo col-md-12 col-sm-12 col-xs-12 '+k.isCompleted+'"><div class="col-md-1 col-sm-1 col-xs-1"><input class="complete" data-id="'+k.id+'" type="checkbox" /></div><div class="col-md-9 col-sm-9 col-xs-9"><span class="todo-name">'+k.name+'</span></div><div class="col-md-2 col-sm-2 col-xs-2"><a href="javascript:" data-name="'+k.name+'" data-id="'+k.id+'"  class="btn btn-info edit-todo" value="Edit">Edit</a><a href="javascript:" data-id="'+k.id+'" class="remove-todo btn btn-danger">Delete</a></div></div>';
        });
        $('#showAll').html(html);

        $('.todo').each(function(){
            var $this = $(this);
            if($this.hasClass('true')) $this.find('.complete').prop('checked', true);
            else $this.find('.complete').prop('checked', false);
            if($this.hasClass('true')) $this.find('.edit-todo').css('visibility','hidden');
            else $this.find('.edit-todo').css('visibility','visible');
        });

        // bind event listeners
        $('.remove-todo').on('click', removeTodo);
        $('.edit-todo').on('click', editTodo);
        $('.complete').on('click', completeTodo);
    }

    $('#add').click(saveTodo);

    function saveTodo() {
        dm.pubData('todos', 'saveTodo', {
            id: Math.ceil(Math.random() * 1000),
            name: $('#text').val(),
            isCompleted: false
        }, function(savedToLocal) {
            console.log('savedToLocal : ', savedToLocal);
        });
        $('#text').val('');
    }

    function completeTodo() {
        var name = $(this).parents('.todo').find('.todo-name').text();
        var id = $(this).data('id');
        var value = $(this).is(':checked');
        dm.pubData('todos', 'updateTodo', {
            id: id,
            isCompleted: value,
            name: name
        }, function(savedToLocal) {
            console.log('savedToLocal : ', savedToLocal);
        });

    }

    function update(id){
       var updatedName = $('.newVal').val();
       console.log(id);
        if (updatedName) {
            dm.pubData('todos', 'updateTodo', {
                id: id,
                name: updatedName
            }, function(savedToLocal) {
                console.log('savedToLocal : ', savedToLocal);
            });
        }
    }

    function editTodo() {
        var name = $(this).data('name');
        var id = $(this).data('id');
        var $input = "<input class='newVal' type='text' value='"+name+"' />";
        var $save = " <a href='javascript:' onclick='update("+id+")' class='btn btn-warning'>Save</a>";
        $(this).parents('.todo').find('.todo-name').hide().after($save).after($input);       
    }

    function removeTodo() {
        dm.pubData('todos', 'deleteTodo', {
            id: $(this).data('id')
        }, function(savedToLocal) {
            console.log('savedToLocal : ', savedToLocal);
        });
    }
    </script>

</body>

</html>
